<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>JIFFY MART</th>
      <th>Unnamed: 1</th>
      <th>Unnamed: 2</th>
      <th>Unnamed: 3</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
      <th>Unnamed: 6</th>
      <th>Unnamed: 7</th>
      <th>Unnamed: 8</th>
      <th>Unnamed: 9</th>
      <th>Unnamed: 10</th>
      <th>Unnamed: 11</th>
      <th>Unnamed: 12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Stock Inward Report</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stock Outward Report</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>SERIAL #</td>
      <td>Date</td>
      <td>Product</td>
      <td>Qty</td>
      <td>S N</td>
      <td>Date</td>
      <td>Product</td>
      <td>Qty</td>
      <td>S N</td>
      <td>Product</td>
      <td>Qty</td>
      <td>Min Qty</td>
      <td>Place Order</td>
    </tr>
    <tr>
      <th>2</th>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Vodka 200ml</td>
      <td>97</td>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Vodka 200ml</td>
      <td>11</td>
      <td>345678943</td>
      <td>Amsterdam Vodka 200ml</td>
      <td>14</td>
      <td>15</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>3</th>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Vodka 375ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Vodka 375ml</td>
      <td>16</td>
      <td>345678943</td>
      <td>Amsterdam Vodka 375ml</td>
      <td>14</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>4</th>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Vodka 750ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Vodka 750ml</td>
      <td>20</td>
      <td>345678943</td>
      <td>Amsterdam Vodka 750ml</td>
      <td>10</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>5</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Gin 200ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2018-06-18 00:00:00</td>
      <td>Amsterdam Gin 200ml</td>
      <td>11</td>
      <td>345678943</td>
      <td>Amsterdam Gin 200ml</td>
      <td>19</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>6</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Gin 375ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2019-02-20 00:00:00</td>
      <td>Amsterdam Gin 375ml</td>
      <td>11</td>
      <td>345678943</td>
      <td>Amsterdam Gin 375ml</td>
      <td>19</td>
      <td>20</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>7</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Gin 750ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2019-02-05 00:00:00</td>
      <td>Amsterdam Gin 750ml</td>
      <td>20</td>
      <td>345678943</td>
      <td>Amsterdam Gin 750ml</td>
      <td>10</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>8</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Peach 200ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2019-02-05 00:00:00</td>
      <td>Amsterdam Peach 200ml</td>
      <td>19</td>
      <td>345678943</td>
      <td>Amsterdam Peach 200ml</td>
      <td>11</td>
      <td>11</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>9</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Peach 375ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2019-02-05 00:00:00</td>
      <td>Amsterdam Peach 375ml</td>
      <td>19</td>
      <td>345678943</td>
      <td>Amsterdam Peach 375ml</td>
      <td>11</td>
      <td>11</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>10</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Peach 750ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2019-02-05 00:00:00</td>
      <td>Amsterdam Peach 750ml</td>
      <td>20</td>
      <td>345678943</td>
      <td>Amsterdam Peach 750ml</td>
      <td>10</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>11</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Apple 200 ml</td>
      <td>30</td>
      <td>345678943</td>
      <td>2019-02-05 00:00:00</td>
      <td>Amsterdam Apple 200 ml</td>
      <td>20</td>
      <td>345678943</td>
      <td>Amsterdam Apple 200 ml</td>
      <td>10</td>
      <td>11</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>12</th>
      <td>345678943</td>
      <td>2018-06-19 00:00:00</td>
      <td>Amsterdam Apple 375ml</td>
      <td>30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>345678943</td>
      <td>Amsterdam Apple 375ml</td>
      <td>11</td>
      <td>11</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>13</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>345678943</td>
      <td>Amsterdam Apple 750ml</td>
      <td>11</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>14</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>345678943</td>
      <td>Amsterdam Apple 100 ml</td>
      <td>10</td>
      <td>11</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>15</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>345678943</td>
      <td>Amsterdam Apple 200 ml</td>
      <td>10</td>
      <td>11</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>16</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>345678943</td>
      <td>Amsterdam Apple 375 ml</td>
      <td>11</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
    <tr>
      <th>17</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>345678943</td>
      <td>Amsterdam Apple 750 ml</td>
      <td>11</td>
      <td>10</td>
      <td>Order Now</td>
    </tr>
  </tbody>
</table>